/* ==== GENERAL ==== */
body {
  font-family: "Della Respira", serif;
  font-size: 18px;
  color: #3c3c3c;
  line-height: 1.6; }

a {
  text-decoration: none;
  color: white; }

/* ==== GLOBAL ==== */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: #28aaaa;
  padding: 20px 0 20px 0; }

.btn-success {
  background-color: #3eb83e !important; }

.textBackground {
  background: rgba(255, 255, 255, 0.7); }

.logo-image {
  height: 110px; }

.badge.social {
  background: #ccc;
  font-size: 24px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 42px;
  margin: 0 5px 20px 0;
  padding: 0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: white; }

.badge.social.twitter:hover {
  background: #55acee; }

.badge.social.facebook:hover {
  background: #3b5998; }

.badge.social.gplus:hover {
  background: #db4b39; }

/* ==== NAV ==== */
.navbar-default {
  background-color: white !important;
  border-color: white !important;
  height: 130px; }

/* ==== HEADER-CAROSEL ==== */
#header-img {
  margin-top: 130px;
  background: url("../img/yoga-background1.jpg") no-repeat;
  background-size: cover;
  background-position: center; }

#header-img .container .row .col-sm-4 {
  height: 600px; }
  #header-img .container .row .col-sm-4 h2 {
    padding-top: 40px; }
  #header-img .container .row .col-sm-4 button a {
    text-decoration: none;
    color: white; }

#header-img p {
  padding: 40px 0 40px 0; }

/* ==== YOGA AND MEDITATION ==== */
#yoga-meditation-pic {
  background: url("../img/yoga-bend.svg") no-repeat;
  background-size: 500px 500px; }

.yoga-meditation {
  padding: 40px 0 40px 0; }
  .yoga-meditation h2 {
    padding: 10px 0 10px 0;
    text-align: center; }

.group-option {
  padding: 10px 0 10px 0;
  display: table; }

.options {
  font-size: 45px;
  height: 70px;
  width: 70px;
  background-color: #28aaaa;
  border-radius: 50%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white; }

.option-text {
  text-align: left; }

/* ==== GO-TO-BUTTON ==== */
#goto_action {
  padding: 40px 0 40px 0;
  background-color: #28aaaa; }
  #goto_action h2 {
    color: white; }
  #goto_action .col-sm-4 {
    border-left: 1px solid #dddddd; }
  #goto_action .col-sm-4:last-child {
    border-right: 1px solid #dddddd; }
  #goto_action button {
    margin-top: 10px;
    margin-bottom: 10px; }
    #goto_action button a {
      text-decoration: none;
      color: white; }

/* ==== TimeTable ==== */
#timetable {
  padding: 40px 0 40px 0; }
  #timetable table {
    border-collapse: collapse;
    width: 100%; }
  #timetable td, #timetable th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px; }
  #timetable tr:first-child {
    background-color: #dddddd; }

/* ==== GENERAL ==== */
/* ==== GENERAL ==== */
/* ==== FOOTER ==== */
footer {
  background-color: #dedede;
  padding-top: 20px;
  margin-top: 10px; }
  footer .contact {
    text-align: center; }
  footer .copyright {
    background-color: #28aaaa; }

/* ==== MEDIA QUERIES ==== */

/*# sourceMappingURL=custom.css.map */
