//Colours
$colour1:rgb(40, 170, 170); $colour2:rgb(151, 200, 0); $colour3:red; $colourFont:rgb(60,60,60);

//fonts
$font1: 'Della Respira', serif;
$font2: 'Montaga', serif;
//Backgrounds
$background:bg-color, bg-image position, bg-size, bg-repeat;
$background1:url("../img/yoga-bend.svg") no-repeat;
$background2:url("../img/yoga-background1.jpg") no-repeat;
$textBackground:rgba(255,255,255,0.7);

//Mixin
@mixin linearGradient($gradient...){
	background: linear-gradient($gradient); /* For browsers that do not support gradients */
	background: -webkit-linear-gradient($gradient); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient($gradient); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($gradient); /* For Firefox 3.6 to 15 */
}
 
//padding
$padding1:40px 0 40px 0;
$padding2:20px 0 20px 0;
$padding3:10px 0 10px 0;

/* ==== GENERAL ==== */
body {
	font-family:$font1;
	font-size:18px;
	color:$colourFont;
	line-height:1.6;
}

a {
	text-decoration:none;
	color:white;
}

/* ==== GLOBAL ==== */
h1,h2,h3,h4,h5,h6 {
	margin:0;
	font-weight: bold;
	color:$colour1;
	padding:$padding2;
}

.btn-success {
	background-color:rgb(62, 184, 62) !important;
}

.textBackground {
	background:$textBackground;
}

.logo-image {
	height:110px;
}

.badge.social {
	background: #ccc;
	font-size:24px;
	height:40px;
	width:40px;
	text-align: center;
	line-height:42px;
	margin: 0 5px 20px 0;
	padding:0;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	border-radius: 50px;
	color:white;
}

.badge.social.twitter:hover {
	background:#55acee;
	
}

.badge.social.facebook:hover {
	background:#3b5998;
	
}
.badge.social.gplus:hover {
	background:#db4b39;
}

/* ==== NAV ==== */
.navbar-default {
	background-color:white!important; 
	border-color: white!important;
	height:130px;
}

/* ==== HEADER-CAROSEL ==== */
#header-img {
	margin-top:130px;
	background: $background2;
	background-size:cover;
	background-position: center;
	
}


#header-img .container .row .col-sm-4 {
	height: 600px;
	
	h2 {
		padding-top:40px;
	}
	button {		
		a {
			text-decoration:none;
			color:white;
		}
	}
}

#header-img p {
	padding:$padding1;
}


/* ==== YOGA AND MEDITATION ==== */
#yoga-meditation-pic {
	background:$background1;
	background-size: 500px 500px;
}

.yoga-meditation {
	padding: $padding1;
	
	h2 {
		padding:$padding3;
		text-align:center;
	}
	
}

.group-option {
	padding:10px 0 10px 0;
	display:table;

}

.options {
	font-size:45px;
	height:70px;
	width:70px;
	background-color: $colour1;
	border-radius:50%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;	
	color:white;
}

.option-text {
	text-align:left;
}

/* ==== GO-TO-BUTTON ==== */ 
#goto_action {
	padding:$padding1;	
	background-color:$colour1;
	
	h2 {
		color:white;
	}
	
	.col-sm-4 {
		border-left:1px solid #dddddd;
		
	}
	
	.col-sm-4:last-child {
		border-right:1px solid #dddddd;
	}

	button {
		margin-top:10px;
		margin-bottom:10px;
		
		a {
			text-decoration:none;
			color:white
		}
	}

}

/* ==== TimeTable ==== */
#timetable {	
	
	padding:$padding1;
	
	table {
		border-collapse: collapse;
		width: 100%;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:first-child {
		background-color: #dddddd;
	}
}

/* ==== GENERAL ==== */

/* ==== GENERAL ==== */

/* ==== FOOTER ==== */
footer {
	background-color:rgb(222, 222, 222);
	padding-top:20px;
	margin-top:10px;
	
	.contact {
		text-align:center;
	}
	
	.copyright{
		background-color:$colour1;
	}
}

/* ==== MEDIA QUERIES ==== */


